<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/addNewQuestion" method="POST">
        <label for="subjects">New Questions</label>
        <input type="text" id="newQuestion" name="newQuestion"><br><br>
        <label for="subjects">Option1</label>
        <input type="text" id="option1" name="option1"><br><br>
        <label for="subjects">Option2</label>
        <input type="text" id="option2" name="option2"><br><br>
        <label for="subjects">Option3</label>
        <input type="text" id="option3" name="option3"><br><br>
        <label for="subjects">Option4</label>
        <input type="text" id="option4" name="option4"><br><br>
        <label for="subjects">Subject</label>
        <input type="text" id="subject" name="subject"><br><br>
        <label for="subjects">Correct Option</label>
        <input type="text" id="correctOption" name="correctOption"><br><br>
        <input type="submit">
      </form> 
</body>
</html>